<div class="container-el">
  <h3>Welcome to admin dashboard</h3>
  <hr />
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Twitter</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-column="First Name">James</td>
        <td data-column="Last Name">Matman</td>
        <td data-column="Job Title">Chief Sandwich Eater</td>
        <td data-column="Twitter">@james</td>
        <td data-column="Remove">
          <a class="edit-btn" href=""><small>Edit</small></a>
        </td>
        <td data-column="Remove">
          <strong class="remove-icon" title="remove item">X</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>
