header {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/admin_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.main-header {
  text-align: center;
  background-color: whitesmoke;
  padding: 40px;
  box-shadow: 0px 0px 10px 10px cadetblue;
}
input {
  padding: 7px 10px 7px 10px !important;
  width: 30vh !important;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  border-radius: 5px;
}

.primary-btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border-radius: 0.25rem;
}
.primary-btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.text-danger {
  color: red;
  float: right;
}
.error-element {
  width: 100%;
  display: inline-block;
}

@media (min-width: 280px) and (max-width: 653px) {
  .main-header {
    padding: 30px 15px;
  }
}
